
<div class="container">
<br>
<h1>Búsqueda de personas!</h1>
<br>
<br>
<form class="row g-3" (submit)="getPersonByNumeroDocumento()" [formGroup]="form">
    <div class="col-auto">
        <select class="form-select" aria-label="Default select example" formControlName="tipoDocumento">
            <option value="" selected>--Tipo de documento--</option>
            <option value="1">DNI</option>
          </select>
          @if(form.controls['tipoDocumento'].invalid && (submitted || form.controls['tipoDocumento'].touched)){
            @if(form.controls['tipoDocumento'].errors?.['required']){
             <FONT COLOR="red">El campo es requerido </FONT>
            }
          }

    </div>
    <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input type="text" class="form-control" id="inputPassword2" placeholder="nro. documento" formControlName="numeroDocumento">
        @if(form.controls['numeroDocumento'].invalid && (submitted || form.controls['numeroDocumento'].touched)){
            @if(form.controls['numeroDocumento'].errors?.['required']){
             <FONT COLOR="red">El campo es requerido </FONT>
            }
            @if(form.controls['numeroDocumento'].errors?.['pattern']){
                <FONT COLOR="red">El campo tiene un formato incorrecto </FONT>
               }
            @if(form.controls['numeroDocumento'].errors?.['maxlength']){
             <FONT COLOR="red">El campo debe tener como máximo 8 caracteres </FONT>
            }
            @if(form.controls['numeroDocumento'].errors?.['minlength']){
                <FONT COLOR="red">El campo debe tener como mínimo 8 caracteres </FONT>
               }
          }
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Buscar</button>
    </div>
</form>

<div class="container">
    <!-- Content here -->
     @if(persona()){
        <br>
        <br>
        <h4>Resultados de búsqueda</h4>
        <div class="bd-example m-0 border-1">
            <div class="mb-3">
                <label for="tipoDocumento" class="form-label">Tipo de documento</label>
                <input type="text" class="form-control" id="tipoDocumento" readonly value="{{persona()?.Tipo_documento}}">
              </div>
              <div class="mb-3">
                <label for="numeroDocumento" class="form-label">Número de documento</label>
                <input type="text" class="form-control" id="numeroDocumento" readonly value="{{persona()?.Numero_documento}}">
              </div>
              <div class="mb-3">
                <label for="nombres" class="form-label">Nombres</label>
                <input type="text" class="form-control" id="nombres" readonly value="{{persona()?.Nombres}}">
              </div>
        </div>
     }
     @else {
      
     }
  </div>

</div>